{% extends "base.html" %}
{% block content %}
<div class="jumbotron">
  <center><h1><em><b> Welcome to the Sales Support System </b></em></h1></center><br>
  <center><p><b>It's the end of the week! ALL employees must do their due dilgence and submit their sales entries. Please navigate by clicking on one of the links at the top.</b></p></center>

  <center><img src="https://images.unsplash.com/photo-1528297506728-9533d2ac3fa4?crop=entropy&cs=tinysrgb&fm=jpg&ixlib=rb-1.2.1&q=80&raw_url=true&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470" width=800htz; height=550htz></center>
  <p>
    <center><h4>Here are the steps below (if you're new):</h4></center>
    <ol>
      <center><li>Go to "Add Your Entry" and input <br> the information as needed.</li></center><br>
      <center><li>Confirm & submit your new entry.</li></center><br>
      <center><li>Verify new entry is reflected in the <br> list under "View All Entries".</li></center>
    </ol>
  </p>
</div>
{% endblock %}
